.feature-item {
  text-align: center;
}

.feature-item__icon-container {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.75rem;
  border-radius: 9999px;
}

.feature-item__icon-container-default {
  background-color: #fef3c7;
}

.feature-item__icon-container-transparent {
  background: transparent;
}

.feature-item__icon-container-full {
  background-color: #d97706;
}

.feature-item__icon {
  width: 2rem;
  height: 2rem;
}

.feature-item__icon-default, .feature-item__icon-transparent {
  color: #d97706;
}

.feature-item__icon-full {
  color: white;
}

.feature-item__title {
  font-weight: 500;
  color: #111827;
}

.feature-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 6px;
}
